body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

body ul li{

    text-align: center;
}
body a{
    color: white;
}
footer{
    color: white;
    text-align: center;
    padding-top: 80px;
    padding-left:40px ;
}
nav a{
    text-decoration: none;
    padding: 60px 10px; /* Adjust the vertical padding as needed */
    margin: 20px 20px;
    border: 1px solid #333;
    border-radius: 8px;
    font-size: 22px;
    transition: background-color 0.3s, color 0.3s;

    color: #00eaff;
    background-color: black;
    display: inline-block;
    width: 455px; /* Set a fixed width for all buttons */
    height: 150px;
    box-sizing: border-box; /* Include padding in the width */
}
nav a:hover{

    background-color: #00eaff;
    color: black;

}
@media (max-width: 300px) {
    .drink {
        padding: 10px;
    }

    .drink h3 {
        font-size: 20px;
    }

    .drink p {
        font-size: 14px;
    }
    img{
        padding-left:375px ;
    }
    body{
        width: 80%;
        zoom: normal;
    }
}

img{
    padding-left:375px ;
}