body {
    font-family: Arial, sans-serif;
    background-color: black;

}

body ul li{
    padding:20px;
    text-align: center;
}
body a{
    color: white;
}
footer{
    color: white;
    text-align: center;
    padding-top: 100px;
}
.drink {
    padding: 5%;
}

.drink h3 {
    font-size: 3vw;
}

.drink p {
    font-size: 2vw;
}

img {
    width: 80%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


img{
    padding-left:375px ;
}
