/* CSS for the cocktail bar menu */
body {
    font-family: Arial, sans-serif;
    background-color: black;
 background-image: url("ddadadadada.webp");
}
@media (max-width: 480px) {
    .drink {
        margin-bottom: 35px;
        padding: 10px;
    }

    .drink h3 {
        font-size: 20px;
    }

    .drink p {
        font-size: 14px;
    }
}
img{
    padding-left:375px ;
}
h1 {
    text-align: center;
    color: #333;
    margin-top: 30px;
}

.drink {
    margin-bottom: 35px;
    padding: 10px;

    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.drink h3 {
    margin-top: 0;
    color: #333;
    border: 1px dot-dash #333333;
    font-size: 24px;
}


.drink p {
    margin: 5px 0;
    color: #666;

    font-size: 16px;
}

.drink {
    display: flex;
    justify-content: space-between;

}

.drink-item {
    width: 45%;

}

.drink-item-right {
    width: 50%;

}
